.card {
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 143px;
    z-index: 1;
    width: 73%;
    padding: 0.5rem;
    left: 50%;
    max-width: 70rem;
    transform: translate(-50%, 0);
}


@media (min-width:768px) {
    .card {
        flex-direction: row;
        justify-content: space-evenly;
        top: calc(30vh - 53.5px);
        text-align: start;
    }
}