.ip-result {
    display: flex;
    position: absolute;
    top: 22%;
    left: 22%;
    z-index: 1;
    background-color: white;
    border-radius: 15px;
    padding: 40px 20px 40px 20px;
    justify-content: space-evenly;
    width: 60vw;
}

.ip-result h5 {
    color: #8b8b8b;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.ip-result h2 {
    font-family: Arial, Helvetica, sans-serif;
}